<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    metadata-complete="false" version="6.0" 
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.ibm.odm.ondocker.RedirectServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>


    <error-page>
        <exception-type>jakarta.servlet.ServletException</exception-type>
        <location>/AppExceptionHandler</location>
    </error-page>

</web-app>
