<server description="executionserver">

	<!-- feature manager -->
	<include optional="true" location="./featureManager.xml"/>

	<!-- http session config -->
	<include optional="true" location="./httpSession.xml"/>

	<!-- datasource config -->
	<include optional="true" location="./datasource.xml"/>

	<!-- include web security config -->
	<include optional="true" location="./auth/webSecurity.xml"/>

	<!-- welcomepage -->
	<include optional="true" location="./welcomepage_application.xml"/>

	<!-- include application declaration -->
	<include optional="true" location="./application.xml"/>

        <!-- include logging config -->
        <include optional="true" location="./logging/logging.xml"/>

	<!-- http endpoint -->
  	<httpEndpoint id="defaultHttpEndpoint" enableWelcomePage="true" host="*" httpPort="9080" httpsPort="9443" />

	<!-- include tls/https config -->
  	<include optional="true" location="./tlsSecurity.xml"/>

	<!-- Managed executor service for Decision Runner -->
	<managedExecutorService jndiName="concurrent/drExecutorService"/>

</server>
