**
!executionserver/applicationservers/WLP855/res.war
!executionserver/applicationservers/WLP855/DecisionService.war
!executionserver/applicationservers/WLP855/DecisionRunner.war
!executionserver/lib/**/*
!teamserver/applicationservers/WLP855/decisioncenter.war
!teamserver/applicationservers/WLP855/decisionmodel.war
!teamserver/applicationservers/WLP855/decisioncenter-api.war
!teamserver/applicationservers/WLP855/teamserver.war
!teamserver/applicationservers/WLP855/teamserver-dbdump.war
!executionserver/applicationservers/tomcat8/res.war
!executionserver/applicationservers/tomcat8/DecisionService.war
!executionserver/applicationservers/tomcat8/DecisionRunner.war
!teamserver/applicationservers/tomcat8/decisioncenter.war
!teamserver/applicationservers/tomcat8/decisionmodel.war
!teamserver/applicationservers/tomcat8/decisioncenter-api.war
!teamserver/applicationservers/tomcat8/teamserver.war
!teamserver/lib/**/*
!docker-compose*
!odm-ondocker/**/*
