<server description="teamserver">
	<!-- Enable features -->
	<featureManager>
		<feature>servlet-3.0</feature>
		<feature>jndi-1.0</feature>
		<feature>jsp-2.2</feature>
		<feature>jdbc-4.0</feature>
		<feature>ssl-1.0</feature>
		<feature>appSecurity-2.0</feature>
	</featureManager>
	
	<!--  host="*" -->
	<httpEndpoint id="defaultHttpEndpoint" enableWelcomePage="true" host="*" httpPort="9060" httpsPort="9453" />
	
	<!-- Datasource and libraries -->
	<variable name="defaultHostName" value="localhost" />
	<!-- Decision Center Datasource -->
	<library id="decisioncenter-libraries">
		<fileset dir="${server.config.dir}/lib"
			includes="commons-logging-1.1.jar" />
	</library>
	<dataSource id="derbyEmbedded" isolationLevel="TRANSACTION_READ_COMMITTED" jndiName="jdbc/ilogDataSource">
		<jdbcDriver>
			<library name="derby-library">
				 <fileset dir="${server.config.dir}/resources"/>
			</library>
		</jdbcDriver>
		<properties.derby.embedded createDatabase="create" user="ilog" password="ilog" databaseName="${server.config.dir}/dbdata/rtsdb" />
	</dataSource>

		<!-- RES datasource -->
	<library id="DerbyLib">
   		 <fileset dir="${server.config.dir}/resources"/>
	</library>
	<jdbcDriver id="DerbyJdbcDriver" libraryRef="DerbyLib" />
	<dataSource id="jdbc/resdatasource" jndiName="jdbc/resdatasource" jdbcDriverRef="DerbyJdbcDriver">
		<properties.derby.embedded createDatabase="create" user="RES" password="RES" databaseName="${server.config.dir}/dbdata/resdb" />	</dataSource>
	<!-- Managed executor service for Decision Runner -->
	<managedExecutorService jndiName="concurrent/drExecutorService"/>
	
	<!-- Logging -->
	<logging traceSpecification="*=audit:com.ibm.rules.*=all:com.ibm.rules.res.execution.*=all:com.ibm.rules.res.execution=all" consoleLogLevel="INFO"/>

	
	<!-- Web application security -->
	<basicRegistry id="basic" realm="customRealm">
		<user name="rtsAdmin" password="rtsAdmin"/>
		<user name="rtsConfig" password="rtsConfig"/>
		<user name="rtsUser1" password="rtsUser1"/>
		<user name="rtsUser2" password="rtsUser2"/>
		<user name="Eli" password="Eli"/>
		<user name="Val" password="Val"/>
		<user name="joe" password="helloworld"/>
		<user name="jack" password="helloworld"/>
		<user name="averell" password="helloworld"/>
		<user name="william" password="helloworld"/>
		<user name="billy" password="helloworld"/>
		<user name="phil" password="helloworld"/>
		<user name="Paul" password="Paul"/>
		<user name="Bea" password="Bea"/>
		<user name="Abu" password="Abu"/>
		<!-- For the runtime user -->
		<user name="resAdmin" password="resAdmin"/>
		<user name="resDeployer" password="resDeployer"/>
		<user name="resMonitor" password="resMonitor"/>

		<group name="rtsAdministrator">
			<member name="rtsAdmin"/>
			<member name="averell"/>
		</group>
		<group name="rtsInstaller">
			<member name="rtsAdmin"/>
		</group>
		<group name="rtsConfigManager">
			<member name="rtsAdmin"/>
			<member name="rtsConfig"/>
		</group>
		<group name="rtsUser">
			<member name="rtsAdmin"/>
			<member name="rtsConfig"/>
			<member name="rtsUser1"/>
			<member name="rtsUser2"/>
			<member name="Eli"/>
			<member name="Val"/>
			<member name="william"/>
			<member name="billy"/>
			<member name="joe"/>
			<member name="jack"/>
			<member name="phil"/>
			<member name="Paul"/>
			<member name="Bea"/>
			<member name="Abu"/>
		</group>
		<group name="Eligibility">
			<member name="Eli"/>
			<member name="Val"/>
		</group>
		<group name="Validator">
			<member name="Val"/>
		</group>
		<group name="mycompany_insurancerules_admin">
			<member name="william"/>
		</group>
		<group name="mycompany_car_insurance_PM">
			<member name="rtsUser1"/>
			<member name="billy"/>
			<member name="joe"/>
		</group>
		<group name="mycompany_home_insurance_PM">
			<member name="billy"/>
			<member name="jack"/>
		</group>
		<group name="mycompany_rule_experts">
			<member name="billy"/>
			<member name="phil"/>
		</group>
		<group name="ruleViewer">
			<member name="rtsUser1"/>
			<member name="joe"/>
		</group>
		<group name="ruleEditor">
			<member name="jack"/>
		</group>
		<group name="resAdministrators">
			<member name="resAdmin" />
		</group>
		<group name="resDeployers">
			<member name="resAdmin" />
			<member name="resDeployer" />
		</group>
		<group name="resMonitors">
			<member name="resAdmin" />
			<member name="resDeployer" />
			<member name="resMonitor" />
		</group>

	</basicRegistry>
	
	<application id="teamserver" location="${server.config.dir}/apps/teamserver.war" name="teamserver">
		<classloader commonLibraryRef="decisioncenter-libraries" delegation="parentLast" />
		<application-bnd>
			<security-role name="rtsAdministrator">
				<group name="rtsAdministrator" />
			</security-role>
			<security-role name="rtsInstaller">
				<group name="rtsInstaller" />
			</security-role>
			<security-role name="rtsConfigManager">
				<group name="rtsConfigManager" />
			</security-role>
			<security-role name="rtsUser">
				<group name="rtsUser" />
			</security-role>
			<security-role name="Eligibility">
				<group name="Eligibility" />
			</security-role>
			<security-role name="Validator">
				<group name="Validator" />
			</security-role>
			<security-role name="mycompany_insurancerules_admin">
				<group name="mycompany_insurancerules_admin" />
			</security-role>
			<security-role name="mycompany_car_insurance_PM">
				<group name="mycompany_car_insurance_PM" />
			</security-role>
			<security-role name="mycompany_home_insurance_PM">
				<group name="mycompany_home_insurance_PM" />
			</security-role>
			<security-role name="mycompany_rule_experts">
				<group name="mycompany_rule_experts" />
			</security-role>
			<security-role name="ruleViewer">
				<group name="ruleViewer"/>
			</security-role>
			<security-role name="ruleEditor">
				<group name="ruleEditor"/>
			</security-role>
		</application-bnd>
	</application>
	
	<application id="decisioncenter" location="${server.config.dir}/apps/decisioncenter.war" name="decisioncenter">
		<classloader commonLibraryRef="decisioncenter-libraries" delegation="parentLast" />
		<application-bnd>
			<security-role name="rtsAdministrator">
				<group name="rtsAdministrator" />
			</security-role>
			<security-role name="rtsInstaller">
				<group name="rtsInstaller" />
			</security-role>
			<security-role name="rtsConfigManager">
				<group name="rtsConfigManager" />
			</security-role>
			<security-role name="rtsUser">
				<group name="rtsUser" />
			</security-role>
			<security-role name="Eligibility">
				<group name="Eligibility" />
			</security-role>
			<security-role name="Validator">
				<group name="Validator" />
			</security-role>
			<security-role name="mycompany_insurancerules_admin">
				<group name="mycompany_insurancerules_admin" />
			</security-role>
			<security-role name="mycompany_car_insurance_PM">
				<group name="mycompany_car_insurance_PM" />
			</security-role>
			<security-role name="mycompany_home_insurance_PM">
				<group name="mycompany_home_insurance_PM" />
			</security-role>
			<security-role name="mycompany_rule_experts">
				<group name="mycompany_rule_experts" />
			</security-role>
			<security-role name="ruleViewer">
				<group name="ruleViewer"/>
			</security-role>
			<security-role name="ruleEditor">
				<group name="ruleEditor"/>
			</security-role>
		</application-bnd>
	</application>
	<!-- Decision Server console -->
	<application type="war" id="res" name="res" location="${server.config.dir}/apps/res.war">
		<application-bnd>
			<security-role name="resAdministrators">
				<group name="resAdministrators" />
			</security-role>
			<security-role name="resDeployers">
				<group name="resDeployers" />
			</security-role>
			<security-role name="resMonitors">
				<group name="resMonitors" />
			</security-role>
		</application-bnd>
	</application>

	<!-- Decision Server Runtime -->
	<application type="war" autoStart="true" id="DecisionService" name="DecisionService" location="${server.config.dir}/apps/DecisionService.war">
	</application>

	<!-- Decsion Runner -->
	 <application type="war" id="DecisionRunner" name="DecisionRunner" context-root="/DecisionRunner" location="${server.config.dir}/apps/DecisionRunner.war">
          <application-bnd>
			<security-role name="resAdministrators">
				<group name="resAdministrators" />
			</security-role>
			<security-role name="resDeployers">
				<group name="resDeployers" />
			</security-role>
	    </application-bnd>
    </application>

	<webContainer enableDefaultIsElIgnoredInTag="true" enableJspMappingOverride="true" />
	<applicationMonitor updateTrigger="mbean" />
</server>
