<server description="executionserver">
	<!-- Enable features -->
	<featureManager>
		<feature>servlet-3.1</feature>
		<feature>appSecurity-2.0</feature>
		<feature>jsp-2.3</feature>
		<feature>jdbc-4.1</feature>
		<!--<feature>jaxrs-1.1</feature>-->
		<feature>concurrent-1.0</feature>
	</featureManager>
	<!-- host="*" -->
	<httpEndpoint id="defaultHttpEndpoint" enableWelcomePage="true" host="*" httpPort="9080" httpsPort="9443" />
	<!-- RES datasource -->
	<library id="DerbyLib">
   		 <fileset dir="${server.config.dir}/resources"/>
	</library>
	<jdbcDriver id="DerbyJdbcDriver" libraryRef="DerbyLib" />
	<dataSource id="jdbc/resdatasource" jndiName="jdbc/resdatasource" jdbcDriverRef="DerbyJdbcDriver">
		<properties databaseName="resdb" serverName="dbserver"
					portNumber="1527" createDatabase="create" user="RES" password="RES" />
	</dataSource>
	<!-- Managed executor service for Decision Runner -->
	<managedExecutorService jndiName="concurrent/drExecutorService"/>
	
	<!-- Logging -->
	<logging traceSpecification="*=audit:com.ibm.rules.*=all:com.ibm.rules.res.execution.*=all:com.ibm.rules.res.execution=all" consoleLogLevel="INFO"/>
	
	<!-- Web application security -->
	<basicRegistry id="basic" realm="customRealm">
		<user name="resAdmin" password="resAdmin" />
		<user name="resDeployer" password="resDeployer" />
		<user name="resMonitor" password="resMonitor" />
		<group name="resAdministrators">
			<member name="resAdmin" />
		</group>
		<group name="resDeployers">
			<member name="resAdmin" />
			<member name="resDeployer" />
		</group>
		<group name="resMonitors">
			<member name="resAdmin" />
			<member name="resDeployer" />
			<member name="resMonitor" />
		</group>
	</basicRegistry>
	
	
 <application type="war" id="DecisionRunner" name="DecisionRunner" context-root="/DecisionRunner" location="${server.config.dir}/apps/DecisionRunner.war">
          <application-bnd>
			<security-role name="resAdministrators">
				<group name="resAdministrators" />
			</security-role>
			<security-role name="resDeployers">
				<group name="resDeployers" />
			</security-role>
	    </application-bnd>
    </application>

</server>
