<server description="teamserver">

	<!-- feature manager -->
	<include optional="true" location="./featureManager.xml"/>

	<!-- http session config -->
	<include optional="true" location="./httpSession.xml"/>

	<!-- datasource config -->
	<include optional="true" location="./datasource.xml"/>

	<!-- include web security config -->
	<include optional="true" location="./auth/webSecurity.xml"/>

	<!-- welcomepage -->
	<include optional="true" location="./welcomepage_application.xml"/>

	<!-- include application declaration -->
	<include optional="true" location="./application.xml"/>

	<!-- include tls/https config -->
  	<include optional="true" location="./tlsSecurity.xml"/>

       <!-- include logging config -->
        <include optional="true" location="./logging.xml"/>

	<!-- http endpoint -->
	<httpEndpoint id="defaultHttpEndpoint" enableWelcomePage="true" host="*" httpPort="9060" httpsPort="9453" />

	<variable name="defaultHostName" value="localhost" />

	<webContainer enableDefaultIsElIgnoredInTag="true" enableJspMappingOverride="true" />

	<applicationMonitor updateTrigger="mbean" />


</server>
