<server description="teamserver">

        <!-- liberty start custom config -->
        <include optional="true" location="./customliberty/libertyConfigStart.xml"/>

	<!-- feature manager -->
	<include optional="true" location="./featureManager.xml"/>

	<!-- http session config -->
	<include optional="true" location="./httpSession.xml"/>

	<!-- datasource config -->
	<include optional="true" location="./datasource.xml"/>

	<!-- datasource config -->
	<include optional="true" location="./customdatasource/datasource-dc.xml"/>

	<!-- include tls/https config -->
        <include optional="true" location="./tlsSecurity.xml"/>

	<!-- welcomepage -->
	<include optional="true" location="./welcomepage_application.xml"/>

	<!-- include application declaration -->
	<include optional="true" location="./application.xml"/>

        <!-- include auth filters -->
        <include optional="true" location="./authOidc/authFilters.xml"/>

        <!-- include web security config -->
        <include optional="true" location="./auth/webSecurity.xml"/>

        <!-- include OIDC web security config -->
        <include optional="true" location="./authOidc/openIdWebSecurity.xml"/>

        <!-- include agent monitor config like mpMetrics -->
        <include optional="true" location="./monitor/monitor.xml"/>

    	<!-- include logging config -->
    	<include optional="true" location="./logging/logging.xml"/>

	<!-- http endpoint -->
	<httpEndpoint id="defaultHttpEndpoint" enableWelcomePage="true" host="*" httpPort="${HTTP_PORT}" httpsPort="${HTTPS_PORT}" accessLoggingRef="accessLogging"/>

	<variable name="defaultHostName" value="localhost" />

	<webContainer invokeFlushAfterService="false" enableDefaultIsElIgnoredInTag="true" enableJspMappingOverride="true" />

	<applicationMonitor updateTrigger="mbean" />

        <oidcClientWebapp id="oidcClientWebapp" contextPath="${ODM_CONTEXT_ROOT}/decisioncenter/openid"/>

        <!-- liberty custom config end -->
        <include optional="true" location="./customliberty/libertyConfigEnd.xml"/>

</server>
