## ODM Components URLs
DC_URL=<DC_URL>
RES_URL=<RES_URL>
DSR_URL=<DSR_URL>
## Basic Authentication
ODM_CREDS=<user>:<password>
## OpenID Authentication
# ODM_CREDS=<clientId>:<clientSecret>
# OPENID_URL=<openIdUrl>
